<h3 class="text-center my-4">View Inventory Details</h3>
<div class="card mx-auto" style="width: 50%;">
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-4"><b>ID:</b></div>
      <div class="col-8">{{inventory?.id}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4"><b>Purchase Price:</b></div>
      <div class="col-8">{{inventory?.purchasePrice}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4"><b>Sales Price:</b></div>
      <div class="col-8">{{inventory?.salesPrice}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4"><b>Batch Number:</b></div>
      <div class="col-8">{{inventory?.batchNumber}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4"><b>Expiry Date:</b></div>
      <div class="col-8">{{inventory?.expiryDate}}</div>
    </div>
    <div class="row mb-3">
      <div class="col-4"><b>Stock:</b></div>
      <div class="col-8">{{inventory?.stock}}</div>
    </div>
  </div>
</div>
