<h2>Inventory List</h2>

<button class="btn btn-success mb-2" (click)="addInventory()">Add Inventory</button>

<table class="table table-striped">
    <thead>
        <tr>
            <!-- <th>id</th>
            <th>Item id</th> -->
            <th>Purchase Price</th>
            <th>Sales Price</th>
            <th>Batch Number</th>
            <th>Expiry Date</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let inventory of inventories">

            <!-- <td>{{inventory.id}}</td>
            <td>{{inventory.itemId}}</td> -->
            <td>{{inventory.purchasePrice}}</td>
            <td>{{inventory.salesPrice}}</td>
            <td>{{inventory.batchNumber}}</td>
            <td>{{inventory.expiryDate}}</td>
            <td>{{inventory.stock}}</td>
            <td>
                <button (click)="updateInventory(inventory.id ?? '')" class="btn btn-info">Update</button>
                <button (click)="deleteInventory(inventory.id ?? '')" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
