<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item">
      <a routerLink="items" routerLinkActive="active" class="nav-link">Item List</a>
    </li>

    <li class="nav-item">
      <a routerLink="create-item" routerLinkActive="active" class="nav-link">Add Item</a>
    </li>

  </ul>
</nav>

<h1 class="text-center">{{title}}</h1>
<h2 class="text-center">By Swarnaka Deepashan</h2>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2024 SwarnakaDeepashan</span>
  </div>
</footer>